	<h4>Activities for 08/13/2018 for {{name}}</h4>
	<div class="row">
		<div class="col-md-12">
			<a class="btn btn-default disabled" href="/Home/Index">
				<i class="fa fa-info"></i> Info &raquo;
			</a>&nbsp;
			<a class="btn btn-default  disabled" href="/Activities"><span class="fa fa-list"></span> Activities grid &raquo;</a> &nbsp;
			<a class="btn btn-default">
				<div style="width:150px; height: 20px;" class="btn btn-default disabled" id='jqxCalendar'></div>
			</a>
		</div>
	</div>
	<br />